extends ../layout

block content
  h1 Login plataforma | CodeNova
  if errorMessage
    p.error= errorMessage
  form(method="post" action="/platform/login")
    input(type="email" name="email" placeholder="Email" value=formData.email required)
    input(type="password" name="password" placeholder="Password" required)
    button(type="submit") Ingresar
